<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  >

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  >
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>

  {% block head %}{% endblock %}

  <title>Test SAML Service Provider</title>

  <style>
    .page {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .content {
      flex: 1;
    }

    footer {
      border-top: 1px solid #eee;
      text-align: center;
    }

    footer p {
      color: #595959;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
    }

  </style>
</head>

<body>
  <div class="page container-fluid">
    <header>
      {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>&copy; 2020, ACME, Inc.</p>
    </footer>
  </div>
</body>

</html>
